button.btn.btn-primary {
    width: 8rem;
}
#del{
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 70px;

}
#ed{
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 70px;

}